/* Style the body */
body {
    font-family: Montserrat, Nunito Sans, Merriweather;
    /* margin: 0; */
    font-size: 24px;
}

/* skip to main */
.skip {
     position: relative;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -600px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus {
    top: 25px;
    transition: all 0.25s ease-in;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #00274C;
    color: white;
    font-size: 3rem;
    padding: 0rem;
    justify-content: center; /* this ain't workin bc they sayin there's nothing to apply it to*/
    align-items: center; /*this creates extra horizontal space for entire page?*/
}

.header img{
    max-width: 25%;
    height: auto;
    display: block;
    padding: 1rem;
    justify-self: center;
}

.header h1 {
    padding: 1rem;
}

/* Style the top navigation bar */
.header .nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;  /* default, but good to include */
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
    background-color: #333;
    /* background-color: #2F65A7; */
    font-size: 1.5rem;
    padding: 7px 7px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Style the navigation bar links */
.nav a {
    color: white;
    padding: 14px 14px;
    text-decoration: none;
    text-align: center;
}

/* active page */
.nav a.active {
  background-color: #FFCB05;
  color: #00274C;
  font-weight: bold;
}

/* Change color on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
}
/* ///////////// */


/* The grid */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
    gap: 1rem;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

.important_section {
    background-color: #EDECEC;
    display: block;
    width: 100%;
    /* grid-column: 2 / span 8; */
    margin-top: 1rem;
}

.container section {
    font-size: 2rem;
    max-width: 100vw;
    grid-column: 2 / span 10;
    margin-top: 1rem;
    box-sizing: border-box;
}

.container section h2 {
    font-size: 2rem;
    max-width: 100vw;
    grid-column: 2 / span 10;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-left: 7px solid #FFCB05;
    padding-left: 1rem;
}

.container section h3 {
    font-size: 1.5rem;
    max-width: 100vw;
    grid-column: 2 / span 10;
    margin-top: 2rem;
}

.underline {
  text-decoration: underline;
}

.container section p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100vw;
    grid-column: 2 / span 10;
    font-size: 1.5rem;
    box-sizing: border-box;
}

/* What is the difference btwn .container section ul vs ul li? why can ul li change my lists on the webpage when it's not put under .container, section...etc? because if I just type h2{} that doesn't change h2...) */

ul {
    display: block;
    list-style-type: disc;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    padding-inline-start: 20px;
    unicode-bidi: isolate;
}

.container section ul {
    /* width: 100%; */
    max-width: 100vw;
    font-size: 1.5rem;
    margin-top: 1rem;
}

ul li {
    margin-bottom: .8rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

.important_section {
  background-color: #f5f5f5;
  /* width: 100%; */
  padding: 1rem, 0;
  box-sizing: border-box;
}

.important_section ul{
    list-style-type: none;
}

.important_section h3{
    padding: 1rem;
}

/* .important_section ul li{
    padding: .5rem;
} */

.highlighted_p {
    background-color: #f5f5f5;
    padding: 28px;
    border-radius: 30px;
}

.highlighted_h3 {
    background-color: #FFCB05;
    font-weight: bolder;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding: 28px;
    width: 60%;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 20px;
    unicode-bidi: isolate;
}

.container section ol {
    /* width: 100%; */
    max-width: 100vw;
    font-size: 1.5rem;
    /* grid-column: 2 / span 10; */
    /* margin-top: 1rem; */
}

ol li {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container iframe {
    width: 100%;
    max-width: 100vw;
    grid-column: 2 /span 10;
}

/* similar question to before, why .container section img and .container img works */
/* Image */
.container section img {
  width: 100%;
  max-width: 100vw;
  grid-column: 2 / span 10;
  height: auto;
}

#start_here {
    background-color: #f5f5f5;
    padding: 1rem, 0;
    box-sizing: border-box;
    padding-bottom: 15px;
}

#start_here h3, ul{
    padding-left: 20px;
    list-style-type: none;
}


/* Button */
section .button {
  background-color:#00274C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* border-radius: 60px; */
  /* grid-column: 7 / -1; */
}

section .button:hover {
    background-color: #ddd;
    color:#00274C;
}

/* Accordian for FAQs */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25rem;
  transition: 0.4s;
  margin-top: 15px;
  font-family: inherit;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}




/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    text-align: left;
    /* background: #ddd; */
    color: white;
    background-color: #00274C;
    font-size: 1.25rem;
    justify-content: start;
    align-items: center;
    border-bottom: 7px solid #FFCB05;
    gap: 35px;
    box-sizing: border-box;
}

.footer div h1 {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.footer a{
  color: #FFCB05;
}

.footer img{
    width: 100%;
    height: auto;
    margin-right: 2rem;
}

.footer div.contact {
    grid-column: 2 / -1;
    line-height: 2rem;
}

.footer div.socials {
    width: 100%;
    grid-column: 1 / -1;
}

.footer div.socials ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

.footer div.socials ul li {
    margin: 0px;
    padding: 0px 7px;
    align-items: left;
}

.footer div.footer-bottom {
    grid-column: 1 / -1;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* font-size: 18px; */
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color:#FFCB05;
  color:#00274C;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-family: inherit;
}

#myBtn:hover {
  background-color: #555;
}



/* TRIAL FOR STICKY MENU*/
    /* Style the left navigation bar links */
    div.sticky {
        display: none;
    }





/* Tablet View */
@media (min-width: 800px) {

    /* ///////////////// */
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
        gap: 1rem;
        width: 100%;
        /* max-width: 100vw; */
        box-sizing: border-box;
        /* direction: rtl; */
    }

    .container section {
        grid-column: 3 / span 9;
    }

    .container section img {
        width: 50%;
        display: block;
        margin: 0 left;
    }

    .container iframe {
    width: 60%;
    }

    #start_here {
        width: 60%;
    }

    footer {
        grid-column: 1 / span 12;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        text-align: left;
        padding: 20px;
    }

    .footer img{
        width: 25%;
        height: auto;
        margin-right: 2rem;
    }

    .footer div.socials ul {
        justify-content: flex-start;
    }

    /* ///////////////// */

    /* Style the left navigation bar links */
    div.sticky {
        display: block;
        position: sticky;
        top: 0;
        background-color: #333;
        padding: 30px;
        height: fit-content;
    }

    div .left_nav {
        width: 100%;
        background: #333;
        color: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
    }

    .left_nav a {
        /* color: white;
        padding: 14px 14px;
        text-decoration: none;
        text-align: center; */
        display: block;          /* makes full-width clickable */
        width: 100%;             /* prevents centering */
        padding: 12px 18px;      /* space inside menu item */
        text-align: left;        /* aligns text left */
        text-decoration: none;
        color: white;
    }

    /* active page */
    .left_nav a.active {
        background-color: #FFCB05;
        color: #00274C;
        font-weight: bold;
    }

    /* Change color on hover */
    .left_nav a:hover {
        background-color: #ddd;
        color: black;
    }

    div .left_nav ul {
        padding-inline-start: 0px;
        display: flex;
        flex-direction: column; /* stack vertically */
        gap: 0; /* optional: remove spacing so hover backgrounds touch */
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .left_nav h3 {
        white-space: nowrap;
    }
}


/* References:

W3Schools. (n.d.). CSS Flexbox responsive. https://www.w3schools.com/css/css3_flexbox_responsive.asp

W3Schools. (n.d.). CSS Styling Buttons. https://www.w3schools.com/css/css3_buttons.asp

W3Schools. (n.d.). How TO - Collapsibles/Accordion. https://www.w3schools.com/howto/howto_js_accordion.asp

W3Schools. (n.d.). How TO - Scroll Back To Top Button. https://www.w3schools.com/howto/howto_js_scroll_to_top.asp

Style Stage. (n.d.). Final Frontier. https://stylestage.dev/styles/final-frontier/ */